.my-face {
	float: left;
	margin-right: 10px;
	margin-top: 20px;
	width: 200px;
}

@media screen and (max-width: 980px) {
	.my-face {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 768px) {
	.my-face {
		width: 200px;
	}
}

@media screen and (max-width: 640px) {
	.my-face {
		width: 100%;
		margin-bottom: 20px;
	}
}
