

@media screen and (max-width: 980px) {

	h1 {
		font-size: 3.8vw;
	}
	h2 {
		font-size: 2.25vh;
	}
	p {
		font-size: 2.5vmin;
		line-height: 1.45em;
	}
}

@media screen and (max-width: 768px) {
	nav {
        display: inline;
        min-width: 100%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
        float: left;

	}

	.nav-links {
		display: inline;
		width: 33.33%;
		text-align: center;
		margin-bottom: 10px;
        font-size: 25px;
        padding: 0 30px;
	}
	h1 {
		font-size: 4.8vw;
		text-align: center;
	}
	h2 {
		font-size: 2.25vh;
	}
	p {
		font-size: 2.5vmin;
		line-height: 1.45em;
	}

	.container {
		max-width: 768px;
	}
	#logo {
		padding: 10px;
		max-width: 342px;
		min-width: 100%;
	}

	.main-section {
		min-width: 100%;
	}
	
	.sidebar {
		min-width: 100%;
		text-align: center;
	}

}

@media screen and (max-width: 640px) {
	.portfolio{
		float: left;
		margin-right: 10px;
		width: 100%;
		
	}
	
	nav{
        display: inline;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
        float: left;
	}
	
	.nav-links {
		display: inline;
		width: 33.33%;
		text-align: center;
		margin-bottom: 10px;
		float: left;
        font-size: 25px;
	}
	h1 {
		font-size: 4.8vw;
		text-align: center;
	}
	h2 {
		font-size: 2.25vh;
	}
	p {
		font-size: 2.5vmin;
		line-height: 1.45em;
	}

	.main-section {
		min-width: 100%;
	}

	.headshot {
		width: 100%;
		margin-bottom: 20px;
	}
	#logo {
		min-width: 100%;
	}
	nav {
		min-width: 100%;
		padding-top:10px;
	}
}
